.restaurant-details-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .restaurant-details-header-fade {
    background-color: rgba(0, 0, 0, 0.5);
  }
}
