.restaurant-card-link {
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  .restaurant-card {
    min-height: 200px;
    max-height: 200px;
    width: 100%;
  }
  .card-title{
    margin-bottom: 0;
  }
}
